.moviecard{
    width: 225px;
    /* height: 380px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px #A8A4A4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding-left:12px;
    padding-right:12px;
    margin-right:1.6vw;
    margin-bottom:16px;
    cursor: pointer;
}
.movieImage{
    width: 225px;
    height: 280px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-left:-12px;
}
.moviename{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 22px;
    margin-top:6px;
}
.moviestar{
    display: flex;
    margin-top:-30px;
}
.star, .star2{
    margin-right:6px;
    display: none;
}
.movierating{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.1rem;
    margin-top:18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
}
.moviegenre{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-top:-12px;
    margin-bottom:8px;
}

/* movie page */

.carouselContainer{
    width:100%;
}
.moviePage{
    display: flex;
    flex-direction: column;
    padding-left:4vw;
    padding-bottom: 40px;
    margin-top:94px;
}
.movieCoverImage{
    background: rgba(0, 0, 0, 0.5);
    width:105%;
    height:330px;
    margin-left:-4vw;
    margin-bottom:16px;
}
.buttonBook{
    position: fixed;
    top:440px;
    width: 180px;
height: 40px;
background: #C81912;
border-radius: 8px;
outline: none;
border: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-left:78vw;
margin-bottom:-38px;
}
.movieLang{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom:8px;
    width:75vw;
}
.language{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    width:75vw;
    margin-top: -8px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.movieCast{
    display: flex;
    flex-wrap: wrap;
    width:70vw;
    /* padding-left:2vw; */
}
.castDiv{
margin-right:1.5vw;
width:110px;
}
.castImage{
border-radius:50%;
width: 100px;
height: 100px;
background-color: aqua;
}
.castName{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    width:8vw;
    margin-left:1.2vw;
    margin-bottom: 16px;
    text-transform: capitalize;
}