.continue{
    width: 355px;
    height: 40px;
    outline:none;
    border:none;
    background:  #C81912;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top:36px;
}

#fgtText{
    margin-top: 10px;
}

#fgtDiv{
    margin-top:64px;
}

.fgtImage{
    width:33vw;
    margin-left:3.5vw;
}

#forgotEmail{
    display: none;
}