.continue{
    width: 355px;
    height: 40px;
    outline:none;
    border:none;
    background: #5C3F76;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top:24px;
}

#fgtText{
    margin-top: 10px;
}

#fgtDiv{
    margin-top:64px;
}

.fgtImage{
    width:26vw;
    margin-left:6vw;
}