.resetimage{
    width:32vw;
     margin-left:5vw;
     margin-top:8px;
}

#LEye{
    width:20px;
    height:22px;
    color: black;
    z-index:10;
  position:relative;
  left:24vw;
  top:8px;
  cursor: pointer;
}

#pwdName1, #pwdName2{
    margin-bottom:-18px;
    margin-top:24px;
}

#pwdName2{
    margin-top:24px;
}

#resetWrongPwd2, #resetWrongPwd1{
    display: none;
}
#spinner2{
    position :relative;
}