body {
    background-color: #F2EBEB;
}

.home {
    padding-left: 4vw;
    padding-top: 24px;
    padding-bottom:48px;
}

.homeTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom:16px;
}