body {
    background-color: #F2EBEB;
}

.home {
    padding:24px 4vw 48px 4.5vw;
}

.homeTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom:16px;
}
.movieFlex{
    display: flex;
    flex-wrap: wrap;
}
#cinemaTitle{
    margin-top:12px;
}
#movieFlexbox{
    display: flex;
}
.homeMovieFlex{
    display: flex;
    flex-wrap: wrap;
    width:73vw;
}
.movieFilter{
    /* position:fixed; */
    margin-right:-2vw;
    height:400px;
    width:20vw;
    background: #FFFFFF;
}