body {
    background-color: #F2EBEB;
}

.home {
    padding:24px 4vw 48px 4vw;
}

.homeTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom:16px;
}
.movieFlex{
    display: flex;
}
#cinemaTitle{
    margin-top:12px;
}