@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Kaushan+Script&family=Manrope:wght@200;300;400&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&family=Sora:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

/* 
#LOGIN, #FORGOT_PASSWORD{
    display: none;
    z-index:10;
} */

::-webkit-scrollbar {
    display: none;
}

.example {
    scrollbar-width: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
}

.navOne {
    width: 100vw;
    height: 54px;
    background: #C81912;
    display: flex;
    padding: 13px;
    padding-right: 5vw;
    padding-left: 3vw;
    justify-content: space-between;
    padding-top: -2px;
}

.subNav {
    display: flex;
}

.navTitle {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 35px;
    color: #FFFFFF;
}

.navLocation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 2px;
}

.navButton {
    width: 9vw;
    height: 34px;
    background: rgba(255, 255, 255, 0.95);
    outline: none;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    color: #C81912;
    margin-left: 3vw;
    cursor: pointer;
    margin-top: -2px;
}

.navSearch {
    width: 360px;
    height:30px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    margin-left: 2vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    padding-left: 2vw;
    margin-top:-1px;
    padding-top: 2px;
    color: rgba(0, 0, 0, 0.6);
}

.navTwo {
    width: 100vw;
    height: 40px;
    background: linear-gradient(257.51deg, #C81912 -42.74%, rgba(208, 63, 56, 0) 368.83%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-right: 5vw;
}

.navHead {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 25px;
    color: #FFFFFF;
    margin-left: 2vw;
    cursor: pointer;
}